@import url("zeroing_default_styles.css");
@import url("font_styles.css");
@import url("color_styles.css");

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--color-alpha);
}

.btn-style_alpha {
  border: solid 2px var(--color-beta);
  background-color: var(--color-omega);

  span {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: normal;
    text-align: center;
    color: var(--color-beta);
  }
}

.wrapper {
  max-width: 1208px;
}

.header-separator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  .header-background {
    padding: 13px 0 10px 0;
    background-color: rgba(128, 128, 128, 0.28);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-under_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;

    .wrapper .top-menu__item:last-child {
      margin-right: 30px;
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1208px;

    .top-menu {
      &__list {
        display: flex;
        justify-content: space-between;
      }

      &__item {
        margin-right: 30px;
      }

      &__item:last-child {
        margin-right: 0;
      }

      &__link {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.33;
        text-align: center;
      }
    }

    .top-callback {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__container {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          margin-right: 10px;
        }
      }

      &__phone {
        font-size: 23px;
        font-weight: 700;
        line-height: 1.3;
        color: var(--color-omega);
      }

      &__btn {
        width: 255px;
        height: 43px;
        margin: 8px 0 0 0;
      }

    }

    .top-logo {
      &__link {
        display: block;
        max-width: 270px;

        img {
          width: 100%;
        }
      }
    }

    .header-section {
      margin-top: 51px;

      &__main-label {
        font-size: 45px;
        font-weight: 700;
        line-height: 1.22;
        color: var(--color-beta);
      }

      &__main-label:last-of-type{
        margin-bottom: 20px;
      }

      &__second-label {

        font-size: 18px;
        line-height: 1.17;
        color: var(--color-alpha);
      }

      &__btn {
        width: 255px;
        height: 43px;
        margin: 76px 0 133px 0;
      }
    }

  }


}

.main-page_header {
  background-image: url("../img/main/header_background.png");
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}