@import url("zeroing_default_styles.css");
@import url("font_styles.css");
@import url("color_styles.css");
@import url("animations_and_assets.css");
* {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--color-alpha);
}

.popup-callback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 340px;
}
.popup-callback__main-label {
  font-size: 37.5px;
  font-weight: bold;
  line-height: 2.4;
  color: var(--color-alpha);
}
.popup-callback__input-container {
  text-align: center;
  margin-bottom: 20px;
}
.popup-callback__input-container p {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  color: var(--color-alpha);
  margin-bottom: 15px;
}
.popup-callback__input-container input {
  text-align: center;
  width: 360px;
  padding: 18px 10px;
  border: solid 1px #e0e0e0;
  background-color: #fcfcfc;
}
.popup-callback__input-container:last-of-type {
  margin-bottom: 0;
}
.popup-callback__button {
  width: 252px;
  height: 43px;
  margin: 40px 0 50px 0;
}
.popup-callback__label-meta {
  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: #7b7b7b;
}
.popup-callback__label-meta a {
  text-decoration: underline;
}

.popup-politics {
  max-width: 800px;
  max-height: 500px;
}
.popup-politics__container {
  padding-bottom: 20px;
}
.popup-politics__main-label:first-of-type {
  margin-bottom: 15px;
  margin-top: 0;
}
.popup-politics__main-label {
  margin-top: 15px;
  font-size: 12px;
  font-weight: 700;
}
.popup-politics ol {
  padding: 0 0 0 15px;
  font-size: 12px;
}
.popup-politics p {
  font-size: 12px;
}

.wrapper {
  max-width: 1238px;
  padding: 0 15px;
}

.header-separator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header-background {
  padding: 13px 0 10px 0;
  background-color: rgba(128, 128, 128, 0.28);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  width: 100%;
}
.header .header-under_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.header .header-under_menu .wrapper .top-menu__item:last-child {
  margin-right: 30px;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1238px;
  position: relative;
}
.header .wrapper .top-menu__list {
  display: flex;
  justify-content: space-between;
}
.header .wrapper .top-menu__item {
  margin-right: 30px;
}
.header .wrapper .top-menu__item:last-child {
  margin-right: 0;
}
.header .wrapper .top-menu__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  text-align: center;
}
.header .wrapper .top-callback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .wrapper .top-callback__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .wrapper .top-callback__container svg {
  margin-right: 10px;
}
.header .wrapper .top-callback__phone a {
  font-size: 23px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--color-omega);
}
.header .wrapper .top-callback__btn {
  width: 255px;
  height: 43px;
  margin: 8px 0 0 0;
}
.header .wrapper .top-logo__link {
  display: block;
  max-width: 270px;
}
.header .wrapper .top-logo__link img {
  width: 100%;
}
.header .wrapper .header-section {
  margin-top: 51px;
}
.header .wrapper .header-section__main-label {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.22;
  color: var(--color-beta);
}
.header .wrapper .header-section__main-label:last-of-type {
  margin-bottom: 20px;
}
.header .wrapper .header-section__second-label {
  font-size: 18px;
  line-height: 1.17;
  color: var(--color-alpha);
}
.header .wrapper .header-section__btn {
  width: 255px;
  height: 43px;
  margin: 76px 0 133px 0;
}
.header .catalog-drop-down {
  z-index: 100;
  background-color: #e1e1e1;
  position: absolute;
  width: 100%;
  left: 0;
  top: 122px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 35px 30px 0 30px;
}
.header .catalog-drop-down__row-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header .catalog-drop-down__item {
  flex: 30% 0 1;
}
.header .catalog-drop-down__item-link_container {
  display: flex;
  align-items: center;
  min-height: 55px;
  margin-bottom: 22px;
}
.header .catalog-drop-down__item-link_container a {
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-alpha);
  text-decoration: underline;
}
.header .catalog-drop-down__all-link_container {
  margin-bottom: 35px;
  display: flex;
  align-items: center;
}
.header .catalog-drop-down__all-link_container a {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: var(--color-gamma);
  margin-right: 15px;
}

.header-bread_crumbs {
  margin-top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-bread_crumbs .wrapper {
  width: 100%;
}
.header-bread_crumbs span {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  color: var(--color-alpha);
}
.header-bread_crumbs span a {
  text-decoration: underline;
  color: var(--color-psi);
}
.header-bread_crumbs span a:last-of-type {
  text-decoration: none;
  color: var(--color-alpha);
}

.main-page_header {
  background-image: url("../img/main/header_background.png");
  background-color: var(--color-omega);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main .main-page_capabilities-and-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #fff 76%, #e8e8e8);
}
.main .main-page_capabilities-and-choice .video {
  margin-top: 32px;
}
.main .main-page_capabilities-and-choice .main-page_capabilities__main-label {
  margin: 85px 0 0 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.63;
  text-align: center;
  color: var(--color-gamma);
}
.main .main-page_capabilities-and-choice .main-page_capabilities__container {
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .main-page_capabilities-and-choice .main-page_capabilities__item {
  margin-bottom: 20px;
  flex: 30% 0 1;
}
.main .main-page_capabilities-and-choice .main-page_capabilities__svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .main-page_capabilities-and-choice .main-page_capabilities__named-label {
  margin-top: 20px;
  font-size: 36px;
  font-weight: 800;
  line-height: 1.11;
  text-align: center;
  color: var(--color-alpha);
}
.main .main-page_capabilities-and-choice .main-page_capabilities__label-container {
  margin-top: 20px;
  text-align: center;
}
.main .main-page_capabilities-and-choice .main-page_capabilities__label-container span {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--color-alpha);
}
.main .main-page_capabilities-and-choice .main-page_choice__main-label {
  margin: 65px 0 0 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.63;
  text-align: center;
  color: var(--color-gamma);
}
.main .main-page_capabilities-and-choice .main-page_choice__container {
  margin-top: 95px;
}
.main .main-page_capabilities-and-choice .main-page_choice__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .main-page_capabilities-and-choice .main-page_choice__item {
  flex: 30% 0 1;
  box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.08);
  background-color: var(--color-beta);
  display: flex;
  flex-direction: column;
  min-height: 850px;
  max-height: 850px;
  overflow: hidden;
}
.main .main-page_capabilities-and-choice .main-page_choice__img-container {
  margin-top: 80px;
  max-width: 370px;
  width: 370px;
}
.main .main-page_capabilities-and-choice .main-page_choice__img-container img {
  width: 100%;
  max-height: 270px;
  height: 270px;
}
.main .main-page_capabilities-and-choice .main-page_choice__options-hover-container {
  margin-top: 44px;
  flex: 1 0 auto;
}
.main .main-page_capabilities-and-choice .main-page_choice__detail-container {
  margin-bottom: 35px;
  text-align: center;
}
.main .main-page_capabilities-and-choice .main-page_choice__detail-container:last-of-type {
  margin-bottom: 0px;
}
.main .main-page_capabilities-and-choice .main-page_choice__detail-name {
  font-size: 18px;
  line-height: 1.11;
  color: var(--color-alpha);
}
.main .main-page_capabilities-and-choice .main-page_choice__detail-chart {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.58;
  color: var(--color-alpha);
}
.main .main-page_capabilities-and-choice .main-page_choice__wrapper {
  text-align: center;
  flex: 0 0 auto;
}
.main .main-page_capabilities-and-choice .main-page_choice__name-container {
  margin-top: 44px;
  text-align: center;
  flex: 1 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .main-page_capabilities-and-choice .main-page_choice__name-container span {
  font-size: 26.5px;
  font-weight: 700;
  line-height: 1.34;
  text-align: center;
  color: var(--color-alpha);
}
.main .main-page_capabilities-and-choice .main-page_choice__cost {
  margin: auto 0 0 0;
  font-size: 41.5px;
  font-weight: 700;
  line-height: 0.63;
  text-align: center;
  color: var(--color-gamma);
}
.main .main-page_capabilities-and-choice .main-page_choice__type-container {
  margin-top: 40px;
}
.main .main-page_capabilities-and-choice .main-page_choice__type {
  font-size: 27.5px;
  font-weight: normal;
  line-height: 1.76;
  text-align: center;
  color: var(--color-alpha);
  margin-right: 25px;
}
.main .main-page_capabilities-and-choice .main-page_choice__power {
  font-size: 31px;
  font-weight: 300;
  line-height: 1.56;
  text-align: center;
  color: var(--color-alpha);
  background-color: #d3d3d3;
}
.main .main-page_capabilities-and-choice .main-page_choice__link {
  display: block;
  width: 253px;
  height: 43px;
  margin: 30px auto 37px auto;
}
.main .main-page_capabilities-and-choice .main-page_choice .main-page__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .main-page_capabilities-and-choice .main-page__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .main-page_capabilities-and-choice .main-page__btn-container .main-page__more-items {
  width: 253px;
  height: 43px;
  margin: 42px 0 72px 0;
}
.main .main-page_deal-callback {
  background-image: url("../img/main/callback_background.png");
  background-color: var(--color-omega);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .main-page_deal-callback__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .main-page_deal-callback__description {
  flex: 51% 0 1;
}
.main .main-page_deal-callback__main-label {
  font-size: 58.5px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: #fff000;
}
.main .main-page_deal-callback__second-label-container {
  margin-top: 90px;
}
.main .main-page_deal-callback__second-label-container span {
  font-size: 28.5px;
  line-height: 1.19;
  text-align: left;
  color: var(--color-beta);
}
.main .main-page_deal-callback__form {
  flex: 42% 0 1;
  margin-top: 75px;
  position: relative;
}
.main .main-page_deal-callback__form .main .main-page_deal-callback__item {
  margin-bottom: 20px;
}
.main .main-page_deal-callback__form .main .main-page_deal-callback__item:last-child {
  margin-bottom: 13px;
}
.main .main-page_deal-callback__item p {
  font-size: 25.5px;
  font-weight: 800;
  line-height: 1.33;
  text-align: left;
  color: var(--color-beta);
}
.main .main-page_deal-callback__item input {
  width: 100%;
  padding: 10px 15px;
  border: solid 2px #c2c2c2;
  background-color: #fcfcfc;
}
.main .main-page_deal-callback__item textarea {
  padding: 10px 15px;
  width: 100%;
  height: 91px;
  border: solid 2px #c2c2c2;
  background-color: #fcfcfc;
  resize: none;
}
.main .main-page_deal-callback__btn-container {
  display: flex;
  justify-content: flex-end;
}
.main .main-page_deal-callback__btn {
  width: 255px;
  height: 43px;
  margin-top: 10px;
}
.main .main-page_deal-callback__btn-description {
  margin: 7px 0 95px 0;
  text-align: right;
}
.main .main-page_deal-callback__btn-description p {
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  color: var(--color-beta);
}
.main .main-page_production {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .main-page_production__main-label {
  margin: 85px 0 80px 0;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.63;
  text-align: center;
  color: var(--color-gamma);
}
.main .main-page_production__canvas {
  width: 100%;
  max-height: 695px;
  height: 695px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-omega);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main .main-page_production__canvas .wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main .main-page_production__canvas .wrapper.container-left {
  justify-content: flex-start;
}
.main .main-page_production__canvas .wrapper.container-right {
  justify-content: flex-end;
  text-align: right;
}
.main .main-page_production__canvas .wrapper.container-right .main-page_production__link-container {
  display: flex;
  justify-content: flex-end;
}
.main .main-page_production__container {
  flex: 73% 0 1;
}
.main .main-page_production #show-item1 {
  background-image: url("../img/main/product1.png");
}
.main .main-page_production #show-item2 {
  background-image: url("../img/main/product2.png");
}
.main .main-page_production #show-item3 {
  background-image: url("../img/main/product3.png");
}
.main .main-page_production #show-item4 {
  background-image: url("../img/main/product4.png");
}
.main .main-page_production__item-label {
  font-size: 55px;
  font-weight: bold;
  line-height: 1.27;
  color: var(--color-beta);
}
.main .main-page_production__item-border {
  width: 100%;
  height: 5px;
  background-color: var(--color-beta);
  margin: 30px 0;
}
.main .main-page_production__item-description {
  margin-bottom: 25px;
}
.main .main-page_production__item-description span {
  font-size: 29px;
  font-weight: 600;
  line-height: 1.21;
  color: var(--color-beta);
}
.main .main-page_production__link {
  width: 256px;
  height: 43px;
  display: block;
}
.main .main-page_news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
.main .main-page_news .main-page_news__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .main-page_news .main-page_news__pagination .main-page_news__next {
  background-color: var(--color-beta);
  width: 130px;
  height: 50px;
  margin: 0 30px;
  display: flex;
  border-radius: 25px;
  border: 2px solid var(--color-gamma);
  justify-content: center;
  align-items: center;
}
.main .main-page_news .main-page_news__pagination .main-page_news__next a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .main-page_news .main-page_news__pagination .main-page_news__next a span {
  font-size: 19px;
  color: var(--color-alpha);
}
.main .main-page_news .main-page_news__pagination .main-page_news__page {
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47px;
  width: 47px;
  border-radius: 50%;
  background-color: var(--color-beta);
  text-align: center;
}
.main .main-page_news .main-page_news__pagination .main-page_news__page a {
  font-size: 19px;
  font-weight: 600;
  color: var(--color-alpha);
}
.main .main-page_news .main-page_news__pagination .main-page_news__page.active {
  background-color: #04ad81;
}
.main .main-page_news .main-page_news__main-label {
  margin: 76px 0 90px 0;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.63;
  color: var(--color-gamma);
}
.main .main-page_news .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main .main-page_news__container {
  margin-bottom: 4%;
  flex: 31% 0 1;
  overflow: hidden;
  background-color: var(--color-omega);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.main .main-page_news__link_news {
  display: block;
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.main .main-page_news #news1, .main .main-page_news #news4, .main .main-page_news #news7, .main .main-page_news #news10 {
  background-image: url("../img/main/news1.png");
}
.main .main-page_news #news2, .main .main-page_news #news5, .main .main-page_news #news8, .main .main-page_news #news11 {
  background-image: url("../img/main/news2.png");
}
.main .main-page_news #news3, .main .main-page_news #news6, .main .main-page_news #news9, .main .main-page_news #news12 {
  background-image: url("../img/main/news3.png");
}
.main .main-page_news__container:before {
  content: "";
  padding-top: 100%;
  float: left;
}
.main .main-page_news__label-container {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 30%;
  padding: 0 13%;
  text-align: center;
}
.main .main-page_news__label-container span {
  font-size: 18.5px;
  font-weight: 800;
  line-height: 1.43;
  color: var(--color-beta);
}
.main .main-page_news__description-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0 10px;
}
.main .main-page_news__description-container span {
  font-size: 15.5px;
  font-weight: bold;
  line-height: 2.23;
  color: var(--color-beta);
}
.main .main-page_news__description-container img {
  max-width: 144px;
  max-height: 30px;
  width: 144px;
  height: 30px;
}
.main .about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .about__main-label {
  margin: 11px 0 49px 0;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.63;
  text-align: center;
  color: var(--color-gamma);
}
.main .about h4 {
  margin: 0 0 25px 0;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-alpha);
}
.main .about p {
  text-indent: 1.5em;
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  color: var(--color-alpha);
}
.main .about p:last-of-type {
  margin-top: 20px;
}
.main .about span {
  display: block;
  padding-left: 1.5em;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  color: var(--color-alpha);
}
.main .about__img-container {
  margin-top: 75px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .about__img-container div {
  max-width: 335px;
}
.main .about__img-container div:first-of-type {
  margin-right: 75px;
}
.main .about__img-container img {
  width: 100%;
}
.main .contacts {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .contacts p {
  margin: 0 0 25px 0;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.09;
  color: #000;
}
.main .contacts p b {
  font-weight: 400;
}
.main .contacts__btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}
.main .contacts__btn-container button {
  width: 253px;
  height: 43px;
}
.main .contacts__yamap {
  width: 100%;
  height: 530px;
  margin-bottom: 25px;
}
.main .contacts__form-label {
  margin: 0 0 30px 0;
  font-size: 31px;
  line-height: 0.77;
  text-align: center;
  color: var(--color-alpha);
}
.main .contacts .submit-message {
  background-color: var(--color-beta);
}
.main .contacts__callback-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .contacts__callback-container .main-page_deal-callback__form {
  flex: 45% 0 1;
  margin-top: 0;
}
.main .contacts__callback-container .main-page_deal-callback__form .main-page_deal-callback__item {
  margin-bottom: 50px;
}
.main .contacts__callback-container .main-page_deal-callback__form .main-page_deal-callback__item:nth-of-type(6) {
  margin-bottom: 0;
}
.main .contacts__callback-container .main-page_deal-callback__form .main-page_deal-callback__btn-container {
  justify-content: center;
}
.main .contacts__callback-container .main-page_deal-callback__form .main-page_deal-callback__btn-description p {
  margin: 3px 0 0 5px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: normal;
  text-align: right;
  color: var(--color-alpha);
}
.main .calculator {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .calculator .wrapper {
  flex-basis: 100%;
}
.main .calculator__main-label {
  margin: 37px 0 45px 0;
  font-size: 60px;
  line-height: 1.05;
  text-align: center;
  color: var(--color-alpha);
}
.main .calculator__semi-label {
  margin: 0 0 35px 0;
  font-size: 27px;
  line-height: 0.89;
  color: var(--color-alpha);
}
.main .calculator__meta-label {
  margin: 0 0 45px 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 0.89;
  color: var(--color-alpha);
}
.main .calculator__check-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.main .calculator__check-column {
  margin-right: 70px;
}
.main .calculator__check-column:last-of-type {
  margin-right: 0;
}
.main .calculator__check-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  height: 32px;
}
.main .calculator__check-item input {
  margin: 5px 0;
}
.main .calculator__check-item label {
  font-size: 24.5px;
  line-height: 1.2;
  color: var(--color-alpha);
}
.main .calculator__callback-input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main .calculator__callback-input_container .main-page_deal-callback__item {
  width: 40%;
  margin-right: 40px;
  margin-bottom: 25px;
}
.main .calculator__callback-input_container:nth-child(even) {
  margin-right: 0;
}
.main .calculator .main-page_deal-callback__btn {
  margin-right: 10%;
}
.main .calculator .submit-message {
  bottom: 0;
  background-color: var(--color-beta);
}
.main .calculator .main-page_deal-callback__btn-description {
  margin-right: 10%;
}
.main .calculator .main-page_deal-callback__btn-description p {
  color: var(--color-alpha);
}
.main .contacts-form-home {
  width: 1238px;
}
.main .homeuse {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .homeuse__main-label {
  margin: 25px 0 30px 0;
  font-size: 60px;
  line-height: 1.05;
  text-align: center;
  color: var(--color-alpha);
}
.main .homeuse__semi-label {
  margin: 30px 0;
  font-size: 27px;
  line-height: 1.2;
  color: var(--color-alpha);
}
.main .homeuse span {
  padding-left: 1.5em;
  margin: 30px 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
  color: var(--color-alpha);
}
.main .homeuse__middle-label {
  margin: 55px 0 40px 0;
  font-size: 31px;
  line-height: 0.77;
  text-align: center;
  color: var(--color-alpha);
}
.main .homeuse__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main .homeuse__item {
  flex-basis: 22%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .homeuse__item span {
  padding-left: 0.5em;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  text-align: left;
  color: var(--color-alpha);
}
.main .homeuse__item img {
  width: 40px;
}
.main .homeuse__business-container {
  display: flex;
  align-items: center;
  background-color: #c2c2c2;
}
.main .homeuse__business-item {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  justify-content: center;
}
.main .homeuse__business-item span {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  text-align: right;
  color: var(--color-alpha);
}
.main .homeuse__business-item h5 {
  font-size: 46px;
  line-height: 0.35;
  color: var(--color-alpha);
  margin-bottom: 15px;
  text-align: right;
}
.main .homeuse__business-item h5 span {
  font-size: 68px;
  color: var(--color-gamma);
}
.main .homeuse .homeuse__business-label {
  padding-left: 30%;
  margin: 0 0 30px 0;
}
.main .homeuse__single-slide {
  margin: 50px 0 40px 0;
  position: relative;
  padding: 0px 60px;
}
.main .homeuse__slide {
  width: 100%;
}
.main .homeuse__slide img {
  margin: 0 auto;
  width: 100%;
}
.main .homeuse__single-slide .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -15px 0 0 0;
  z-index: 100;
  font-size: 0;
  width: 30px;
  height: 30px;
}
.main .homeuse__single-slide .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/homeuse/ar1.png") 0 0/100% no-repeat;
}
.main .homeuse__single-slide .slick-arrow.slick-next {
  right: 0;
  background: url("../img/homeuse/ar2.png") 0 0/100% no-repeat;
}

.homeuse.homeuse-separator {
  margin-bottom: 50px;
}

.main-page_capabilities-and-choice.homeuse-separator {
  background-image: none;
  background-color: var(--color-beta);
}
.main-page_capabilities-and-choice.homeuse-separator .main-page_choice {
  margin-bottom: 50px;
}

.catalog {
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog__main-label {
  margin: 30px 0 55px 0;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.63;
  text-align: center;
  color: var(--color-gamma);
}
.catalog__main-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.catalog__main-item {
  flex-basis: 30%;
  margin-bottom: 50px;
  position: relative;
  text-align: center;
}
.catalog__main-item img-container {
  width: 100%;
}
.catalog__main-item img-container img {
  width: 100%;
}
.catalog__main-item p {
  text-align: center;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.14;
  color: var(--color-alpha);
  text-decoration: underline;
  margin-top: 30px;
}
.catalog__main-item a {
  display: block;
  position: absolute;
  z-index: 90;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.catalog__main-item:before {
  content: "";
  padding-top: 100%;
  float: left;
}

.news-item-label {
  margin: 35px 0;
  font-size: 36px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: center;
  color: var(--color-alpha);
}

.news-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-item__main-label {
  margin: 65px 0;
  font-size: 60px;
  line-height: 1.05;
  text-align: center;
  color: var(--color-alpha);
}
.news-item__semi-label {
  margin: 35px 0;
  color: var(--color-alpha);
  font-size: 27px;
  line-height: 0.89;
}
.news-item__text-label {
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 2.15;
  color: var(--color-alpha);
}
.news-item__btn-container {
  margin: 40px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.news-item__link-container {
  position: relative;
  height: 43px;
  width: 255px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #e0e0e0;
  background-color: #fcfcfc;
}
.news-item__link-container span {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.33;
  color: var(--color-alpha);
}
.news-item__link-container:last-of-type {
  margin-right: 0;
}
.news-item__link {
  position: absolute;
  z-index: 90;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.news-item__single-slide {
  margin: 50px 0 40px 0;
  position: relative;
  padding: 0px 60px;
}
.news-item__slide {
  max-width: 550px !important;
  margin: 0 20px !important;
}
.news-item__slide img {
  margin: 0 auto;
  width: 100%;
}
.news-item .slick-track {
  margin: auto;
}
.news-item__single-slide .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -15px 0 0 0;
  z-index: 100;
  font-size: 0;
  width: 30px;
  height: 30px;
}
.news-item__single-slide .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/homeuse/ar1.png") 0 0/100% no-repeat;
}
.news-item__single-slide .slick-arrow.slick-next {
  right: 0;
  background: url("../img/homeuse/ar2.png") 0 0/100% no-repeat;
}

.catalog-items {
  display: flex;
  justify-content: center;
  align-items: center;
  /*  &__slider-container_price{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
    }*/
}
.catalog-items input[type=checkbox]:checked + label:before,
.catalog-items input[type=checkbox]:not(:checked) + label:before {
  width: 18px;
  height: 18px;
}
.catalog-items input[type=checkbox]:checked + label:after,
.catalog-items input[type=checkbox]:not(:checked) + label:after {
  left: 3px;
  top: 4px;
  width: 14px;
  height: 7px;
  border-left: 3px solid var(--color-gamma);
  border-bottom: 3px solid var(--color-gamma);
}
.catalog-items input[type=checkbox]:checked + label, .catalog-items input[type=checkbox]:not(:checked) + label {
  padding-left: 22px;
  line-height: 20px;
}
.catalog-items__main-label {
  margin: 25px 0 40px 0;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.63;
  text-align: center;
  color: var(--color-gamma);
}
.catalog-items__container {
  display: flex;
  justify-content: space-between;
}
.catalog-items__filter {
  flex: 25% 0 1;
}
.catalog-items__filter-main-label {
  margin: 0 0 25px 0;
  font-size: 21px;
  font-weight: 600;
  color: var(--color-alpha);
}
.catalog-items__filter-semi-label {
  font-weight: 600;
  text-align: center;
}
.catalog-items__price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
.catalog-items__price-item {
  flex: 40% 0 1;
}
.catalog-items__price-item input {
  width: 100%;
  padding: 9px;
  border-radius: 4px;
  border: solid 1px #e0e0e0;
}
.catalog-items__price-item p span {
  font-size: 14px;
  font-weight: 300;
  line-height: 2.43;
}
.catalog-items__slider-container {
  margin: 10px 0 0 0;
}
.catalog-items__check-container {
  margin: 20px 0;
}
.catalog-items__check-item {
  display: flex;
  align-items: center;
}
.catalog-items__check-item label {
  font-size: 14px;
  font-weight: 300;
}
.catalog-items__choice-container {
  flex: 65% 0 1;
}
.catalog-items__choice-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.catalog-items__choice-item {
  margin-bottom: 65px;
  min-height: 475px;
  flex: 31% 0 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.catalog-items__choice-img-container {
  padding: 15px 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog-items__choice-img-container img {
  max-width: 240px;
  max-height: 220px;
}
.catalog-items__choice-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  flex: 1 0 auto;
  padding: 0 15px;
}
.catalog-items__choice-name-container span {
  font-size: 16.5px;
  font-weight: bold;
  text-align: center;
}
.catalog-items__choice-cost {
  font-size: 30.5px;
  font-weight: bold;
  line-height: 0.75;
  text-align: center;
  color: var(--color-gamma);
  margin-bottom: 10px;
  flex: 0 0 auto;
}
.catalog-items__choice-cost i {
  font-style: normal;
  font-size: 24.5px;
  font-weight: 300;
  color: var(--color-alpha);
}
.catalog-items__choice-cost span {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: var(--color-alpha);
}
.catalog-items__choice-cost span i {
  font-style: normal;
  font-size: 12px;
  font-weight: 300;
}
.catalog-items__choice-cost span::after {
  content: "";
  position: absolute;
  background: red;
  left: 0;
  transform: rotate(160deg);
  bottom: 12px;
  width: 74%;
  height: 2px;
}
.catalog-items__choice-wrapper {
  box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.08);
  background-color: var(--color-beta);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 0 auto;
}
.catalog-items__choice-link-container {
  flex: 0 0 auto;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog-items__choice-link-container button {
  width: 201px;
  height: 35px;
}
.catalog-items__choice-link-container button span {
  display: flex;
  justify-content: center;
  line-height: normal;
}
.catalog-items__choice_more-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 50px 0;
}
.catalog-items__choice_more-container button {
  width: 201px;
  height: 35px;
}
.catalog-items__choice_more-container button span {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
}
.catalog-items__choice-hover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 25%;
}
.catalog-items__choice-hover a {
  display: flex;
  flex-basis: 80%;
  height: 30px;
  z-index: 90;
  justify-content: center;
  align-items: center;
}
.catalog-items__choice-hover a span {
  line-height: normal;
}

.catalog-detail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog-detail__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog-detail__slider-container {
  flex: 42% 0 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}
.catalog-detail__slider-previev {
  flex: 70% 0 1;
  height: 500px;
  background-color: rebeccapurple;
}
.catalog-detail__single-slide {
  margin: 50px 0 40px 0;
  position: relative;
  padding: 20px 0;
}
.catalog-detail__slide {
  max-width: 125px !important;
  min-width: 50px;
  margin: 10px 5px;
}
.catalog-detail__slide.slick-slide {
  -webkit-box-shadow: 0.1px 0.1px 0.2px 0.18px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0.1px 0.1px 0.2px 0.18px rgba(34, 60, 80, 0.2);
  box-shadow: 0.1px 0.1px 0.2px 0.18px rgba(34, 60, 80, 0.2);
}
.catalog-detail__slide.slick-slide:before {
  content: "";
  padding-top: 100%;
  float: left;
}
.catalog-detail__slide img {
  margin: 0 auto;
  width: 100%;
  max-height: 125px;
}
.catalog-detail .slick-track {
  display: block;
  margin: auto 0;
}
.catalog-detail__single-slide .slick-arrow {
  position: absolute;
  left: 40%;
  margin: -15px 0 0 0;
  z-index: 100;
  font-size: 0;
  width: 30px;
  height: 30px;
}
.catalog-detail__single-slide .slick-arrow.slick-prev {
  top: 0;
  background: url("../img/catalog-detail/arup.png") 0 0/100% no-repeat;
}
.catalog-detail__single-slide .slick-arrow.slick-next {
  bottom: 0;
  background: url("../img/catalog-detail/ardown.png") 0 0/100% no-repeat;
}
.catalog-detail__description-container {
  flex: 55% 0 1;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.catalog-detail__description-container h2 {
  font-size: 40px;
  line-height: 1.03;
  text-align: left;
}
.catalog-detail__description-container h3 {
  height: 24px;
  margin: 25px 0 25px 0;
  font-size: 26px;
  line-height: 1.23;
}
.catalog-detail__description {
  flex: 1 0 auto;
}
.catalog-detail__description p {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 300;
}
.catalog-detail__description p i {
  font-size: 12px;
  font-style: normal;
}
.catalog-detail__cost-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog-detail__cost-container p {
  font-size: 30.5px;
  font-weight: bold;
  line-height: 0.75;
  text-align: center;
  color: var(--color-gamma);
  margin-bottom: 10px;
  flex: 0 0 auto;
}
.catalog-detail__cost-container p i {
  font-style: normal;
  font-size: 24.5px;
  font-weight: 300;
  color: var(--color-alpha);
}
.catalog-detail__cost-container p span {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: var(--color-alpha);
}
.catalog-detail__cost-container p span i {
  font-style: normal;
  font-size: 12px;
  font-weight: 300;
}
.catalog-detail__cost-container p span::after {
  content: "";
  position: absolute;
  background: red;
  left: 0;
  transform: rotate(160deg);
  bottom: 12px;
  width: 74%;
  height: 2px;
}
.catalog-detail__cost-container button {
  width: 201px;
  height: 35px;
}
.catalog-detail__cost-container button span {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
}
.catalog-detail__options-container h4 {
  margin: 0 0 30px 0;
  font-size: 27px;
  line-height: 0.89;
}
.catalog-detail__options-container p {
  text-indent: 1.5em;
  margin: 30px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
}
.catalog-detail__options-container ol {
  margin: 30px;
  padding-left: 3.5em;
}
.catalog-detail__options-container ol li {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
}

.catalog-detail-comments {
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog-detail-comments h2 {
  font-size: 27px;
  line-height: 0.89;
  margin: 25px 0;
}
.catalog-detail-comments__rating-info {
  margin: 5px 0 20px 0;
}
.catalog-detail-comments__rating-info span:first-of-type {
  margin-right: 5%;
}
.catalog-detail-comments__rating-info span {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.6;
}
.catalog-detail-comments__rating-form {
  width: 201px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog-detail-comments__rating-form span {
  line-height: normal;
}
.catalog-detail-comments__review {
  width: 100%;
  padding: 0 5%;
  margin: 25px 0;
}
.catalog-detail-comments__review-item {
  margin-bottom: 50px;
}
.catalog-detail-comments__review-item:nth-of-type(2) {
  margin-bottom: 0;
}
.catalog-detail-comments__review-item p {
  font-size: 25.5px;
  font-weight: 700;
  line-height: 1.33;
}
.catalog-detail-comments__review-item input {
  width: 100%;
  padding: 10px 15px;
  border: solid 2px #c2c2c2;
  background-color: #fcfcfc;
}
.catalog-detail-comments__review-item textarea {
  padding: 10px 15px;
  width: 100%;
  height: 200px;
  border: solid 2px #c2c2c2;
  background-color: #fcfcfc;
  resize: none;
}
.catalog-detail-comments__btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
}
.catalog-detail-comments__btn-container button {
  width: 201px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog-detail-comments__btn-container button span {
  line-height: normal;
}
.catalog-detail-comments__container {
  margin-top: 35px;
}
.catalog-detail-comments__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog-detail-comments__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  flex: 15% 0 1;
}
.catalog-detail-comments__img-container img {
  height: 100px;
  width: 100px;
}
.catalog-detail-comments__profile-container {
  flex: 85% 0 1;
}
.catalog-detail-comments__profile-container p {
  margin: 25px 0 5px 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
}
.catalog-detail-comments__item-separator {
  width: 55%;
  height: 2px;
  margin: 40px auto;
  background-color: #ececec;
}
.catalog-detail-comments__show-more {
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog-detail-comments__show-more button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px 0 0 0;
  width: 201px;
  height: 35px;
}
.catalog-detail-comments__show-more button span {
  line-height: normal;
}

.catalog-items.catalog-detail_item .catalog-items__main-label {
  margin: 80px 0 55px 0;
  font-size: 27px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.89;
  letter-spacing: normal;
  color: var(--color-alpha);
}
.catalog-items.catalog-detail_item .catalog-items__container {
  justify-content: center;
}

.policies {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.policies ol {
  padding: 0 0 0 15px;
}

.footer {
  background-image: url("../img/main/footer_background.png");
  background-color: var(--color-omega);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .bottom-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .bottom-info .footer-bold {
  font-size: 28px;
  font-weight: bold;
  color: var(--color-beta);
}
.footer .bottom-info__call-container {
  flex: 30% 0 1;
  margin: 35px 0 0 0;
}
.footer .bottom-info__call-container a {
  font-size: 28px;
  line-height: 1.41;
  text-align: left;
  color: var(--color-beta);
}
.footer .bottom-info__adress-container {
  flex: 30% 0 1;
  margin: 35px auto 0 auto;
  text-align: center;
}
.footer .bottom-info__mini-label {
  font-size: 24.5px;
  line-height: 1.47;
  text-align: center;
  color: var(--color-beta);
}
.footer .bottom-info__soc_link-container {
  margin: 35px 0 0 0;
  flex: 30% 0 1;
}
.footer .bottom-info__soc_link-container div {
  text-align: center;
}
.footer .bottom-info__soc_link-container div:first-of-type {
  margin-bottom: 15px;
}
.footer .bottom-info__soc_link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .bottom-info__soc_link a {
  margin-right: 45px;
}
.footer .bottom-info__soc_link a:last-of-type {
  margin-right: 0;
}
.footer .bottom-info__meta-info {
  text-align: center;
}
.footer .bottom-info__meta-info p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .bottom-info__meta-info svg {
  margin: 0 5px;
}
.footer .bottom-info__meta-info p, .footer .bottom-info__meta-info a {
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-beta);
}
.footer .bottom-info__meta-info a {
  text-decoration: underline;
}
.footer .bottom-info__meta-link {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-bottom: 5px;
}
.footer .bottom-info__meta-link a, .footer .bottom-info__meta-link span {
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-beta);
}
.footer .bottom-info__meta-link span {
  margin-right: 15%;
}
.footer .bottom-info__meta-link a {
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
