@import url("zeroing_default_styles.css");
@import url("font_styles.css");
@import url("color_styles.css");
* {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--color-alpha);
}

.btn-style_alpha,
.btn-style_beta,
.top-menu__link {
  -webkit-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  transition: all 250ms ease;
}

.menu-active,
.top-menu__link:hover {
  color: var(--color-gamma);
}

.top-menu__link:active {
  color: #04ad81;
}

.btn-style_alpha {
  border: solid 2px var(--color-beta);
  background-color: var(--color-omega);
}
.btn-style_alpha span {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: normal;
  text-align: center;
  color: var(--color-beta);
}

.btn-style_alpha:hover {
  background-color: #334575;
}

.btn-style_alpha:active {
  background-color: #1f2b4a;
  border: none;
}

.btn-style_beta:hover {
  background-color: #05c694;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
}

.btn-style_beta:active {
  background-color: #04ad81;
  box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
}

.btn-style_beta {
  background-color: var(--color-gamma);
  text-align: center;
}
.btn-style_beta span {
  font-size: 16px;
  font-weight: 700;
  line-height: 3.03;
  color: var(--color-beta);
}

.video {
  width: 100%;
  position: relative;
}
.video-over {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
}
.video-play {
  background: var(--color-gamma);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 145px;
  height: 145px;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #fff;
  z-index: 1;
  cursor: pointer;
  transition: 0.2s ease;
  transition-property: opacity, visibility;
}
.video-play::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 50px;
  width: 0;
  height: 0;
  border: 60px solid transparent;
  border-top-width: 35px;
  border-bottom-width: 35px;
  border-left-color: var(--color-beta);
  border-right-width: 0;
  transition: transform 0.2s ease;
}
.video-play:hover::before {
  transform: scale(1.2);
}
.video video {
  width: 100%;
  /* max-height: 528px;*/
  display: block;
}
.video.video-is-playing .video-over {
  display: block;
}
.video.video-is-playing .video-play {
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  max-width: 1208px;
}

.header-separator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header-background {
  padding: 13px 0 10px 0;
  background-color: rgba(128, 128, 128, 0.28);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header-under_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.header .header-under_menu .wrapper .top-menu__item:last-child {
  margin-right: 30px;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1208px;
  position: relative;
}
.header .wrapper .top-menu__list {
  display: flex;
  justify-content: space-between;
}
.header .wrapper .top-menu__item {
  margin-right: 30px;
}
.header .wrapper .top-menu__item:last-child {
  margin-right: 0;
}
.header .wrapper .top-menu__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  text-align: center;
}
.header .wrapper .top-callback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .wrapper .top-callback__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .wrapper .top-callback__container svg {
  margin-right: 10px;
}
.header .wrapper .top-callback__phone a {
  font-size: 23px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--color-omega);
}
.header .wrapper .top-callback__btn {
  width: 255px;
  height: 43px;
  margin: 8px 0 0 0;
}
.header .wrapper .top-logo__link {
  display: block;
  max-width: 270px;
}
.header .wrapper .top-logo__link img {
  width: 100%;
}
.header .wrapper .header-section {
  margin-top: 51px;
}
.header .wrapper .header-section__main-label {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.22;
  color: var(--color-beta);
}
.header .wrapper .header-section__main-label:last-of-type {
  margin-bottom: 20px;
}
.header .wrapper .header-section__second-label {
  font-size: 18px;
  line-height: 1.17;
  color: var(--color-alpha);
}
.header .wrapper .header-section__btn {
  width: 255px;
  height: 43px;
  margin: 76px 0 133px 0;
}
.header .catalog-drop-down {
  z-index: 100;
  background-color: #e1e1e1;
  position: absolute;
  width: 100%;
  left: 0;
  top: 122px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 35px 30px 0 30px;
}
.header .catalog-drop-down__row-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header .catalog-drop-down__item {
  flex: 30% 0 1;
}
.header .catalog-drop-down__item-link_container {
  display: flex;
  align-items: center;
  min-height: 55px;
  margin-bottom: 22px;
}
.header .catalog-drop-down__item-link_container a {
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-alpha);
  text-decoration: underline;
}
.header .catalog-drop-down__all-link_container {
  margin-bottom: 35px;
  display: flex;
  align-items: center;
}
.header .catalog-drop-down__all-link_container a {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: var(--color-gamma);
  margin-right: 15px;
}

.main-page_header {
  background-image: url("../img/main/header_background.png");
  background-color: var(--color-omega);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-page_capabilities-and-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #fff 76%, #e8e8e8);
}
.main-page_capabilities-and-choice .video {
  margin-top: 32px;
}
.main-page_capabilities-and-choice .main-page_capabilities__main-label {
  margin: 85px 0 0 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.63;
  text-align: center;
  color: var(--color-gamma);
}
.main-page_capabilities-and-choice .main-page_capabilities__container {
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-page_capabilities-and-choice .main-page_capabilities__item {
  margin-bottom: 20px;
  flex: 30% 0 1;
}
.main-page_capabilities-and-choice .main-page_capabilities__svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-page_capabilities-and-choice .main-page_capabilities__named-label {
  margin-top: 20px;
  font-size: 36px;
  font-weight: 800;
  line-height: 1.11;
  text-align: center;
  color: var(--color-alpha);
}
.main-page_capabilities-and-choice .main-page_capabilities__label-container {
  margin-top: 20px;
  text-align: center;
}
.main-page_capabilities-and-choice .main-page_capabilities__label-container span {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--color-alpha);
}
.main-page_capabilities-and-choice .main-page_choice__main-label {
  margin: 65px 0 0 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.63;
  text-align: center;
  color: var(--color-gamma);
}
.main-page_capabilities-and-choice .main-page_choice__container {
  margin-top: 95px;
}
.main-page_capabilities-and-choice .main-page_choice__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-page_capabilities-and-choice .main-page_choice__item {
  flex: 30% 0 1;
  box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.08);
  background-color: var(--color-beta);
  display: flex;
  flex-direction: column;
  min-height: 835px;
}
.main-page_capabilities-and-choice .main-page_choice__img-container {
  margin-top: 80px;
  max-width: 370px;
  width: 370px;
}
.main-page_capabilities-and-choice .main-page_choice__img-container img {
  width: 100%;
  max-height: 270px;
  height: 270px;
}
.main-page_capabilities-and-choice .main-page_choice__options-hover-container {
  margin-top: 44px;
  flex: 1 0 auto;
}
.main-page_capabilities-and-choice .main-page_choice__detail-container {
  margin-bottom: 35px;
  text-align: center;
}
.main-page_capabilities-and-choice .main-page_choice__detail-container:last-of-type {
  margin-bottom: 0px;
}
.main-page_capabilities-and-choice .main-page_choice__detail-name {
  font-size: 18px;
  line-height: 1.11;
  color: var(--color-alpha);
}
.main-page_capabilities-and-choice .main-page_choice__detail-chart {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.58;
  color: var(--color-alpha);
}
.main-page_capabilities-and-choice .main-page_choice__wrapper {
  text-align: center;
  flex: 0 0 auto;
}
.main-page_capabilities-and-choice .main-page_choice__name-container {
  margin-top: 44px;
  text-align: center;
  flex: 1 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-page_capabilities-and-choice .main-page_choice__name-container span {
  font-size: 26.5px;
  font-weight: 700;
  line-height: 1.34;
  text-align: center;
  color: var(--color-alpha);
}
.main-page_capabilities-and-choice .main-page_choice__cost {
  margin: auto 0 0 0;
  font-size: 41.5px;
  font-weight: 700;
  line-height: 0.63;
  text-align: center;
  color: var(--color-gamma);
}
.main-page_capabilities-and-choice .main-page_choice__type-container {
  margin-top: 40px;
}
.main-page_capabilities-and-choice .main-page_choice__type {
  font-size: 27.5px;
  font-weight: normal;
  line-height: 1.76;
  text-align: center;
  color: var(--color-alpha);
  margin-right: 25px;
}
.main-page_capabilities-and-choice .main-page_choice__power {
  font-size: 31px;
  font-weight: 300;
  line-height: 1.56;
  text-align: center;
  color: var(--color-alpha);
  background-color: #d3d3d3;
}
.main-page_capabilities-and-choice .main-page_choice__link {
  display: block;
  width: 253px;
  height: 43px;
  margin: 30px auto 37px auto;
}
.main-page_capabilities-and-choice .main-page_choice .main-page__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-page_capabilities-and-choice .main-page__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-page_capabilities-and-choice .main-page__btn-container .main-page__more-items {
  width: 253px;
  height: 43px;
  margin: 42px 0 72px 0;
}

.main-page_deal-callback {
  background-image: url("../img/main/callback_background.png");
  background-color: var(--color-omega);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-page_deal-callback__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-page_deal-callback__description {
  flex: 51% 0 1;
}
.main-page_deal-callback__main-label {
  font-size: 58.5px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: #fff000;
}
.main-page_deal-callback__second-label-container {
  margin-top: 90px;
}
.main-page_deal-callback__second-label-container span {
  font-size: 28.5px;
  line-height: 1.19;
  text-align: left;
  color: var(--color-beta);
}
.main-page_deal-callback__form {
  flex: 42% 0 1;
  margin-top: 75px;
}
.main-page_deal-callback__form .main-page_deal-callback__item {
  margin-bottom: 20px;
}
.main-page_deal-callback__form .main-page_deal-callback__item:last-child {
  margin-bottom: 13px;
}
.main-page_deal-callback__item p {
  font-size: 25.5px;
  font-weight: 800;
  line-height: 1.33;
  text-align: left;
  color: var(--color-beta);
}
.main-page_deal-callback__item input {
  width: 100%;
  padding: 10px 15px;
  border: solid 2px #c2c2c2;
  background-color: #fcfcfc;
}
.main-page_deal-callback__item textarea {
  padding: 10px 15px;
  width: 100%;
  height: 91px;
  border: solid 2px #c2c2c2;
  background-color: #fcfcfc;
  resize: none;
}
.main-page_deal-callback__btn-container {
  display: flex;
  justify-content: flex-end;
}
.main-page_deal-callback__btn {
  width: 255px;
  height: 43px;
}
.main-page_deal-callback__btn-description {
  margin: 7px 0 95px 0;
  text-align: right;
}
.main-page_deal-callback__btn-description p {
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  color: var(--color-beta);
}

.main-page_production {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-page_production__main-label {
  margin: 85px 0 80px 0;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.63;
  text-align: center;
  color: var(--color-gamma);
}
.main-page_production__canvas {
  width: 100%;
  max-height: 695px;
  height: 695px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-omega);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-page_production__canvas .wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main-page_production__canvas .wrapper.container-left {
  justify-content: flex-start;
}
.main-page_production__canvas .wrapper.container-right {
  justify-content: flex-end;
  text-align: right;
}
.main-page_production__canvas .wrapper.container-right .main-page_production__link-container {
  display: flex;
  justify-content: flex-end;
}
.main-page_production__container {
  flex: 73% 0 1;
}
.main-page_production #show-item1 {
  background-image: url("../img/main/product1.png");
}
.main-page_production #show-item2 {
  background-image: url("../img/main/product2.png");
}
.main-page_production #show-item3 {
  background-image: url("../img/main/product3.png");
}
.main-page_production #show-item4 {
  background-image: url("../img/main/product4.png");
}
.main-page_production__item-label {
  font-size: 55px;
  font-weight: bold;
  line-height: 1.27;
  color: var(--color-beta);
}
.main-page_production__item-border {
  width: 100%;
  height: 5px;
  background-color: var(--color-beta);
  margin: 30px 0;
}
.main-page_production__item-description {
  margin-bottom: 25px;
}
.main-page_production__item-description span {
  font-size: 29px;
  font-weight: 600;
  line-height: 1.21;
  color: var(--color-beta);
}
.main-page_production__link {
  width: 256px;
  height: 43px;
  display: block;
}

.main-page_news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
.main-page_news .main-page_news__main-label {
  margin: 76px 0 90px 0;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.63;
  color: var(--color-gamma);
}
.main-page_news .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main-page_news__container {
  flex: 31% 0 1;
  overflow: hidden;
  background-color: var(--color-omega);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.main-page_news #news1 {
  background-image: url("../img/main/news1.png");
}
.main-page_news #news2 {
  background-image: url("../img/main/news2.png");
}
.main-page_news #news3 {
  background-image: url("../img/main/news3.png");
}
.main-page_news__container:before {
  content: "";
  padding-top: 100%;
  float: left;
}
.main-page_news__label-container {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 30%;
  padding: 0 13%;
  text-align: center;
}
.main-page_news__label-container span {
  font-size: 18.5px;
  font-weight: 800;
  line-height: 1.43;
  color: var(--color-beta);
}
.main-page_news__description-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0 10px;
}
.main-page_news__description-container span {
  font-size: 15.5px;
  font-weight: bold;
  line-height: 2.23;
  color: var(--color-beta);
}
.main-page_news__description-container img {
  max-width: 144px;
  max-height: 30px;
  width: 144px;
  height: 30px;
}

.footer {
  background-image: url("../img/main/footer_background.png");
  background-color: var(--color-omega);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .bottom-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .bottom-info .footer-bold {
  font-size: 28px;
  font-weight: bold;
  color: var(--color-beta);
}
.footer .bottom-info__call-container {
  flex: 30% 0 1;
  margin: 35px 0 0 0;
}
.footer .bottom-info__call-container a {
  font-size: 28px;
  line-height: 1.41;
  text-align: left;
  color: var(--color-beta);
}
.footer .bottom-info__adress-container {
  flex: 30% 0 1;
  margin: 35px auto 0 auto;
  text-align: center;
}
.footer .bottom-info__mini-label {
  font-size: 24.5px;
  line-height: 1.47;
  text-align: center;
  color: var(--color-beta);
}
.footer .bottom-info__soc_link-container {
  margin: 35px 0 0 0;
  flex: 30% 0 1;
}
.footer .bottom-info__soc_link-container div {
  text-align: center;
}
.footer .bottom-info__soc_link-container div:first-of-type {
  margin-bottom: 15px;
}
.footer .bottom-info__soc_link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .bottom-info__soc_link a {
  margin-right: 45px;
}
.footer .bottom-info__soc_link a:last-of-type {
  margin-right: 0;
}
.footer .bottom-info__meta-info {
  text-align: center;
}
.footer .bottom-info__meta-info p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .bottom-info__meta-info svg {
  margin: 0 5px;
}
.footer .bottom-info__meta-info p, .footer .bottom-info__meta-info a {
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-beta);
}
.footer .bottom-info__meta-info a {
  text-decoration: underline;
}
.footer .bottom-info__meta-link {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-bottom: 5px;
}
.footer .bottom-info__meta-link a, .footer .bottom-info__meta-link span {
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-beta);
}
.footer .bottom-info__meta-link span {
  margin-right: 15%;
}
.footer .bottom-info__meta-link a {
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
