@import url("zeroing_default_styles.css");
@import url("font_styles.css");
@import url("color_styles.css");
@import url("animations_and_assets.css");

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--color-alpha);
}


.popup-callback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 340px;

  &__main-label {
    font-size: 37.5px;
    font-weight: bold;
    line-height: 2.4;
    color: var(--color-alpha);
  }

  &__input-container {
    text-align: center;
    margin-bottom: 20px;

    p {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.33;
      color: var(--color-alpha);
      margin-bottom: 15px;
    }

    input {
      text-align: center;
      width: 360px;
      padding: 18px 10px;
      border: solid 1px #e0e0e0;
      background-color: #fcfcfc;
    }
  }

  &__input-container:last-of-type {
    margin-bottom: 0;
  }

  &__button {
    width: 252px;
    height: 43px;
    margin: 40px 0 50px 0;
  }

  &__label-meta {
    font-size: 12px;
    line-height: 2;
    text-align: center;
    color: #7b7b7b;
  }
}

.popup-politics {
  max-width: 800px;
  max-height: 500px;

  &__container {
    padding-bottom: 20px;
  }

  &__main-label:first-of-type {
    margin-bottom: 15px;
    margin-top: 0;
  }

  &__main-label {
    margin-top: 15px;
    font-size: 12px;
    font-weight: 700;
  }

  ol {
    padding: 0 0 0 15px;
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }
}

.wrapper {
  max-width: 1208px;
}

.header-separator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {

  .header-bread_crumbs {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      margin: 0;
      font-size: 20px;
      font-weight: 300;
      line-height: 1.2;
      color: var(--color-alpha);

      a {
        text-decoration: underline;
        color: var(--color-psi);
      }

      a:last-of-type {
        text-decoration: none;
        color: var(--color-alpha);
      }
    }
  }

  .header-background {
    padding: 13px 0 10px 0;
    background-color: rgba(128, 128, 128, 0.28);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-under_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;

    .wrapper .top-menu__item:last-child {
      margin-right: 30px;
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1208px;
    position: relative;

    .top-menu {
      &__list {
        display: flex;
        justify-content: space-between;
      }

      &__item {
        margin-right: 30px;
      }

      &__item:last-child {
        margin-right: 0;
      }

      &__link {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.33;
        text-align: center;
      }
    }

    .top-callback {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__container {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          margin-right: 10px;
        }
      }

      &__phone a {
        font-size: 23px;
        font-weight: 700;
        line-height: 1.3;
        color: var(--color-omega);
      }

      &__btn {
        width: 255px;
        height: 43px;
        margin: 8px 0 0 0;
      }

    }

    .top-logo {
      &__link {
        display: block;
        max-width: 270px;

        img {
          width: 100%;
        }
      }
    }

    .header-section {
      margin-top: 51px;

      &__main-label {
        font-size: 45px;
        font-weight: 700;
        line-height: 1.22;
        color: var(--color-beta);
      }

      &__main-label:last-of-type {
        margin-bottom: 20px;
      }

      &__second-label {

        font-size: 18px;
        line-height: 1.17;
        color: var(--color-alpha);
      }

      &__btn {
        width: 255px;
        height: 43px;
        margin: 76px 0 133px 0;
      }
    }

  }

  .catalog-drop-down {
    z-index: 100;
    background-color: #e1e1e1;
    position: absolute;
    width: 100%;
    left: 0;
    top: 122px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px 30px 0 30px;

    &__row-item {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

    }

    &__item {
      flex: 30% 0 1;
    }

    &__item-link_container {
      display: flex;
      align-items: center;
      min-height: 55px;
      margin-bottom: 22px;
    }

    &__item-link_container a {
      font-size: 20px;
      line-height: 1.2;
      color: var(--color-alpha);
      text-decoration: underline;
    }

    &__all-link_container {
      margin-bottom: 35px;
      display: flex;
      align-items: center;
    }

    &__all-link_container a {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.33;
      color: var(--color-gamma);
      margin-right: 15px;
    }
  }


}

.main-page_header {
  background-image: url("../img/main/header_background.png");
  background-color: var(--color-omega);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {

  .main-page_capabilities-and-choice {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #fff 76%, #e8e8e8);

    .video {
      margin-top: 32px;
    }

    .main-page_capabilities {
      &__main-label {
        margin: 85px 0 0 0;
        font-size: 60px;
        font-weight: 700;
        line-height: 1.63;
        text-align: center;
        color: var(--color-gamma);
      }

      &__container {
        margin-top: 75px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      &__item {
        margin-bottom: 20px;
        flex: 30% 0 1;
      }

      &__svg-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__named-label {
        margin-top: 20px;
        font-size: 36px;
        font-weight: 800;
        line-height: 1.11;
        text-align: center;
        color: var(--color-alpha);
      }

      &__label-container {
        margin-top: 20px;
        text-align: center;

        span {
          font-size: 22px;
          font-weight: 600;
          line-height: 1.5;
          color: var(--color-alpha);
        }
      }
    }

    .main-page_choice {

      &__main-label {
        margin: 65px 0 0 0;
        font-size: 60px;
        font-weight: 700;
        line-height: 1.63;
        text-align: center;
        color: var(--color-gamma);
      }

      &__container {
        margin-top: 95px;
      }

      &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__item {

        flex: 30% 0 1;
        box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.08);
        background-color: var(--color-beta);
        display: flex;
        flex-direction: column;
        min-height: 850px;
        max-height: 850px;
        overflow: hidden;
      }

      &__img-container {
        margin-top: 80px;
        max-width: 370px;
        width: 370px;
      }

      &__img-container img {
        width: 100%;
        max-height: 270px;
        height: 270px;
      }

      &__options-hover-container {
        margin-top: 44px;
        flex: 1 0 auto;
      }

      &__detail-container {
        margin-bottom: 35px;
        text-align: center;
      }

      &__detail-container:last-of-type {
        margin-bottom: 0px;
      }

      &__detail-name {
        font-size: 18px;
        line-height: 1.11;
        color: var(--color-alpha);
      }

      &__detail-chart {
        font-size: 18px;
        font-weight: 800;
        line-height: 1.58;
        color: var(--color-alpha);
      }

      &__wrapper {
        text-align: center;
        flex: 0 0 auto;
      }

      &__name-container {
        margin-top: 44px;
        text-align: center;
        flex: 1 0 auto;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__name-container span {
        font-size: 26.5px;
        font-weight: 700;
        line-height: 1.34;
        text-align: center;
        color: var(--color-alpha);
      }

      &__cost {

        margin: auto 0 0 0;
        font-size: 41.5px;
        font-weight: 700;
        line-height: 0.63;
        text-align: center;
        color: var(--color-gamma);
      }

      &__type-container {
        margin-top: 40px;
      }

      &__type {
        font-size: 27.5px;
        font-weight: normal;
        line-height: 1.76;
        text-align: center;
        color: var(--color-alpha);
        margin-right: 25px;
      }

      &__power {
        font-size: 31px;
        font-weight: 300;
        line-height: 1.56;
        text-align: center;
        color: var(--color-alpha);
        background-color: #d3d3d3;
      }


      &__link {
        display: block;
        width: 253px;
        height: 43px;
        margin: 30px auto 37px auto;
      }

      .main-page__btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }

    }

    .main-page__btn-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .main-page__more-items {
        width: 253px;
        height: 43px;
        margin: 42px 0 72px 0;
      }
    }
  }

  .main-page_deal-callback {
    background-image: url("../img/main/callback_background.png");
    background-color: var(--color-omega);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__description {
      flex: 51% 0 1;
    }

    &__main-label {
      font-size: 58.5px;
      font-weight: bold;
      line-height: 1.2;
      text-align: left;
      color: #fff000;
    }


    &__second-label-container {
      margin-top: 90px;

      span {
        font-size: 28.5px;
        line-height: 1.19;
        text-align: left;
        color: var(--color-beta);
      }
    }

    &__form {
      flex: 42% 0 1;
      margin-top: 75px;
      position: relative;
    }

    &__form &__item {
      margin-bottom: 20px;
    }

    &__form &__item:last-child {
      margin-bottom: 13px;
    }

    &__item p {
      font-size: 25.5px;
      font-weight: 800;
      line-height: 1.33;
      text-align: left;
      color: var(--color-beta);
    }

    &__item input {
      width: 100%;
      padding: 10px 15px;
      border: solid 2px #c2c2c2;
      background-color: #fcfcfc;
    }

    &__item textarea {
      padding: 10px 15px;
      width: 100%;
      height: 91px;
      border: solid 2px #c2c2c2;
      background-color: #fcfcfc;
      resize: none;
    }

    &__btn-container {
      display: flex;
      justify-content: flex-end;
    }

    &__btn {
      width: 255px;
      height: 43px;
      margin-top: 10px;
    }

    &__btn-description {
      margin: 7px 0 95px 0;
      text-align: right;

      p {

        font-size: 12px;
        font-weight: 300;
        line-height: 1;
        color: var(--color-beta);
      }
    }
  }

  .main-page_production {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__main-label {
      margin: 85px 0 80px 0;
      font-size: 60px;
      font-weight: bold;
      line-height: 1.63;
      text-align: center;
      color: var(--color-gamma);
    }

    &__canvas {
      width: 100%;
      max-height: 695px;
      height: 695px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-omega);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__canvas .wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    &__canvas .wrapper.container-left {
      justify-content: flex-start;
    }

    &__canvas .wrapper.container-right {
      justify-content: flex-end;
      text-align: right;
    }

    &__canvas .wrapper.container-right .main-page_production__link-container {
      display: flex;
      justify-content: flex-end;
    }

    &__container {
      flex: 73% 0 1;
    }

    #show-item1 {
      background-image: url("../img/main/product1.png");
    }

    #show-item2 {
      background-image: url("../img/main/product2.png");
    }

    #show-item3 {
      background-image: url("../img/main/product3.png");
    }

    #show-item4 {
      background-image: url("../img/main/product4.png");
    }


    &__item-label {
      font-size: 55px;
      font-weight: bold;
      line-height: 1.27;
      color: var(--color-beta);
    }

    &__item-border {
      width: 100%;
      height: 5px;
      background-color: var(--color-beta);
      margin: 30px 0;
    }

    &__item-description {
      margin-bottom: 25px;

      span {
        font-size: 29px;
        font-weight: 600;
        line-height: 1.21;
        color: var(--color-beta);
      }

    }

    &__link {
      width: 256px;
      height: 43px;
      display: block;
    }


  }

  .main-page_news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;

    .main-page_news__pagination {
      display: flex;
      justify-content: center;
      align-items: center;

      .main-page_news__next {
        background-color: var(--color-beta);
        width: 130px;
        height: 50px;
        margin: 0 30px;
        display: flex;
        border-radius: 25px;
        border: 2px solid var(--color-gamma);
        justify-content: center;
        align-items: center;

        a {
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            font-size: 19px;
            color: var(--color-alpha);
          }
        }
      }

      .main-page_news__page {
        margin-right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 47px;
        width: 47px;
        border-radius: 50%;
        background-color: var(--color-beta);
        text-align: center;

        a {
          font-size: 19px;
          font-weight: 600;
          color: var(--color-alpha);
        }
      }

      .main-page_news__page.active {
        background-color: #04ad81;
      }
    }

    .main-page_news__main-label {
      margin: 76px 0 90px 0;
      font-size: 60px;
      font-weight: bold;
      line-height: 1.63;
      color: var(--color-gamma);
    }


    .wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    &__container {
      margin-bottom: 4%;
      flex: 31% 0 1;
      overflow: hidden;
      background-color: var(--color-omega);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

    &__link_news {
      display: block;
      position: absolute;
      z-index: 100;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    #news1, #news4, #news7, #news10 {
      background-image: url("../img/main/news1.png");
    }

    #news2, #news5, #news8, #news11 {
      background-image: url("../img/main/news2.png");
    }

    #news3, #news6, #news9, #news12 {
      background-image: url("../img/main/news3.png");
    }

    &__container:before {
      content: "";
      padding-top: 100%;
      float: left;
    }

    &__label-container {
      background-color: rgba(0, 0, 0, 0.5);
      margin-top: 30%;
      padding: 0 13%;
      text-align: center;

      span {
        font-size: 18.5px;
        font-weight: 800;
        line-height: 1.43;
        color: var(--color-beta);
      }
    }

    &__description-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: absolute;
      bottom: 0;
      padding: 0 10px;

      span {
        font-size: 15.5px;
        font-weight: bold;
        line-height: 2.23;
        color: var(--color-beta);
      }

      img {
        max-width: 144px;
        max-height: 30px;
        width: 144px;
        height: 30px;
      }
    }

  }

  .about {
    display: flex;
    justify-content: center;
    align-items: center;

    &__main-label {
      margin: 11px 0 49px 0;
      font-size: 60px;
      font-weight: bold;
      line-height: 1.63;
      text-align: center;
      color: var(--color-gamma);
    }

    h4 {
      margin: 0 0 25px 0;
      font-size: 25px;
      font-weight: 400;
      line-height: 1.2;
      color: var(--color-alpha);
    }

    p {
      text-indent: 1.5em;
      margin: 0 0 20px 0;
      font-size: 20px;
      font-weight: 300;
      line-height: 1.2;
      color: var(--color-alpha);
    }

    p:last-of-type {
      margin-top: 20px;
    }

    span {
      display: block;
      padding-left: 1.5em;
      font-size: 20px;
      font-weight: 300;
      line-height: 1.2;
      color: var(--color-alpha);
    }

    &__img-container {
      margin-top: 75px;
      margin-bottom: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        max-width: 335px;
      }

      div:first-of-type {
        margin-right: 75px;
      }

      img {
        width: 100%;
      }
    }

  }

  .contacts {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin: 0 0 25px 0;
      font-size: 22px;
      font-weight: 300;;
      line-height: 1.09;
      color: #000;

      b {
        font-weight: 400;
      }
    }

    &__btn-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 35px;

      button {
        width: 253px;
        height: 43px;
      }
    }

    &__yamap {
      width: 100%;
      height: 530px;
      margin-bottom: 25px;
    }

    &__form-label {
      margin: 0 0 30px 0;
      font-size: 31px;
      line-height: 0.77;
      text-align: center;
      color: var(--color-alpha);
    }

    .submit-message {
      background-color: var(--color-beta);
    }

    &__callback-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .main-page_deal-callback__form {
        flex: 45% 0 1;
        margin-top: 0;

        .main-page_deal-callback__item {
          margin-bottom: 50px;
        }

        .main-page_deal-callback__item:nth-of-type(6) {
          margin-bottom: 0;
        }

        .main-page_deal-callback__btn-container {
          justify-content: center;
        }

        .main-page_deal-callback__btn-description p {
          margin: 3px 0 0 5px;
          font-size: 12px;
          font-weight: 300;
          letter-spacing: normal;
          text-align: right;
          color: var(--color-alpha);
        }
      }

    }
  }

  .calculator {
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
      flex-basis: 100%;
    }

    &__main-label {

      margin: 37px 0 45px 0;
      font-size: 60px;
      line-height: 1.05;
      text-align: center;
      color: var(--color-alpha);
    }

    &__semi-label {
      margin: 0 0 35px 0;
      font-size: 27px;
      line-height: 0.89;
      color: var(--color-alpha);
    }

    &__meta-label {
      margin: 0 0 45px 0;
      font-size: 20px;
      font-weight: 300;
      line-height: 0.89;
      color: var(--color-alpha);
    }

    &__check-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 50px;
    }

    &__check-column {
      margin-right: 70px;
    }

    &__check-column:last-of-type {
      margin-right: 0;
    }

    &__check-item {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      height: 32px;


      input {
        margin: 5px 0;
      }

      label {
        font-size: 24.5px;
        line-height: 1.2;
        color: var(--color-alpha);
      }
    }

    &__callback-input_container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .main-page_deal-callback__item {
        width: 40%;
        margin-right: 40px;
        margin-bottom: 25px;
      }

    }

    &__callback-input_container:nth-child(even) {
      margin-right: 0;
    }

    .main-page_deal-callback__btn {
      margin-right: 10%;
    }

    .submit-message {
      bottom: 0;
      background-color: var(--color-beta);
    }

    .main-page_deal-callback__btn-description {
      margin-right: 10%;

      p {

        color: var(--color-alpha);
      }
    }
  }

  .contacts-form-home {
    width: 1208px;
  }

  .homeuse {
    display: flex;
    justify-content: center;
    align-items: center;

    &__main-label {
      margin: 25px 0 30px 0;
      font-size: 60px;
      line-height: 1.05;
      text-align: center;
      color: var(--color-alpha);
    }

    &__semi-label {
      margin: 30px 0;
      font-size: 27px;
      line-height: 1.2;
      color: var(--color-alpha);
    }

    span {
      padding-left: 1.5em;
      margin: 30px 0;
      font-size: 20px;
      font-weight: 300;
      line-height: 1.2;
      text-align: left;
      color: var(--color-alpha);
    }

    &__middle-label {
      margin: 55px 0 40px 0;
      font-size: 31px;
      line-height: 0.77;
      text-align: center;
      color: var(--color-alpha);
    }

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    &__item {
      flex-basis: 22%;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        padding-left: 0.5em;
        font-size: 16px;
        font-weight: 300;
        line-height: 1;
        text-align: left;
        color: var(--color-alpha);
      }

      img {
        width: 40px;
      }
    }

    &__business-container {
      display: flex;
      align-items: center;
      background-color: #c2c2c2;

    }

    &__business-item {
      display: flex;
      flex-direction: column;
      flex-basis: 30%;
      justify-content: center;

      span {
        font-size: 20px;
        font-weight: 300;
        line-height: 1.2;
        text-align: right;
        color: var(--color-alpha);
      }

      h5 {
        font-size: 46px;
        line-height: 0.35;
        color: var(--color-alpha);
        margin-bottom: 15px;
        text-align: right;

        span {
          font-size: 68px;
          color: var(--color-gamma);
        }
      }
    }

    .homeuse__business-label {
      padding-left: 30%;
      margin: 0 0 30px 0;
    }

    &__single-slide {

      margin: 50px 0 40px 0;
      position: relative;
      padding: 0px 60px;
    }

    &__slide {
      width: 100%;
    }

    &__slide img {
      margin: 0 auto;
      width: 100%;
    }


    &__single-slide .slick-arrow {
      position: absolute;
      top: 50%;
      margin: -15px 0 0 0;
      z-index: 100;
      font-size: 0;
      width: 30px;
      height: 30px;
    }

    &__single-slide .slick-arrow.slick-prev {
      left: 0;
      background: url('../img/homeuse/ar1.png') 0 0 / 100% no-repeat;
    }

    &__single-slide .slick-arrow.slick-next {
      right: 0;
      background: url('../img/homeuse/ar2.png') 0 0 / 100% no-repeat;
    }


  }

}

.homeuse.homeuse-separator {
  margin-bottom: 50px;
}

.main-page_capabilities-and-choice.homeuse-separator {
  background-image: none;
  background-color: var(--color-beta);

  .main-page_choice {
    margin-bottom: 50px;
  }
}

.catalog {
  display: flex;
  justify-content: center;
  align-items: center;

  &__main-label {
    margin: 30px 0 55px 0;
    font-size: 60px;
    font-weight: bold;
    line-height: 1.63;
    text-align: center;
    color: var(--color-gamma);
  }

  &__main-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__main-item {
    flex-basis: 30%;
    margin-bottom: 50px;
    position: relative;

    img-container {
      width: 100%;

      img {
        width: 100%;
      }
    }

    text-align: center;

    p {
      text-align: center;
      font-size: 21px;
      font-weight: 300;
      line-height: 1.14;
      color: var(--color-alpha);
      text-decoration: underline;
      margin-top: 30px;
    }

    a {
      display: block;
      position: absolute;
      z-index: 90;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }

  }

  &__main-item:before {
    content: "";
    padding-top: 100%;
    float: left;
  }


}

.news-item-label {
  margin: 35px 0;
  font-size: 36px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: center;
  color: var(--color-alpha);
}

.news-item {
  display: flex;
  justify-content: center;
  align-items: center;

  &__main-label {
    margin: 65px 0;
    font-size: 60px;
    line-height: 1.05;
    text-align: center;
    color: var(--color-alpha);
  }

  &__semi-label {
    margin: 35px 0;
    color: var(--color-alpha);
    font-size: 27px;
    line-height: 0.89;
  }

  &__text-label {
    margin: 0 0 20px 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 2.15;
    color: var(--color-alpha);
  }

  &__btn-container {
    margin: 40px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__link-container {
    position: relative;
    height: 43px;
    width: 255px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #e0e0e0;
    background-color: #fcfcfc;


    span {
      display: inline-block;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.33;
      color: var(--color-alpha);
    }
  }

  &__link-container:last-of-type {
    margin-right: 0;
  }

  &__link {
    position: absolute;
    z-index: 90;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  &__single-slide {

    margin: 50px 0 40px 0;
    position: relative;
    padding: 0px 60px;
  }

  &__slide {
    max-width: 550px !important;
    margin:0 20px !important;
  }

  &__slide img {
    margin: 0 auto;
    width: 100%;
  }

  .slick-track {
    margin:auto;
  }

  &__single-slide .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -15px 0 0 0;
    z-index: 100;
    font-size: 0;
    width: 30px;
    height: 30px;
  }

  &__single-slide .slick-arrow.slick-prev {
    left: 0;
    background: url('../img/homeuse/ar1.png') 0 0 / 100% no-repeat;
  }

  &__single-slide .slick-arrow.slick-next {
    right: 0;
    background: url('../img/homeuse/ar2.png') 0 0 / 100% no-repeat;
  }

}

.footer {
  background-image: url("../img/main/footer_background.png");
  background-color: var(--color-omega);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;


  .bottom-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .footer-bold {
      font-size: 28px;
      font-weight: bold;
      color: var(--color-beta);
    }

    &__call-container {
      flex: 30% 0 1;
      margin: 35px 0 0 0;

      a {
        font-size: 28px;
        line-height: 1.41;
        text-align: left;
        color: var(--color-beta);
      }
    }


    &__adress-container {
      flex: 30% 0 1;
      margin: 35px auto 0 auto;
      text-align: center;
    }

    &__mini-label {
      font-size: 24.5px;
      line-height: 1.47;
      text-align: center;
      color: var(--color-beta);
    }

    &__soc_link-container {
      margin: 35px 0 0 0;
      flex: 30% 0 1;

      div {
        text-align: center;
      }
    }

    &__soc_link-container div:first-of-type {
      margin-bottom: 15px;
    }

    &__soc_link {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__soc_link a {
      margin-right: 45px;
    }

    &__soc_link a:last-of-type {
      margin-right: 0;
    }

    &__meta-info {
      text-align: center;

      p {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      svg {
        margin: 0 5px;
      }

      p, a {
        font-size: 20px;
        line-height: 1.2;
        color: var(--color-beta);
      }

      a {
        text-decoration: underline;
      }
    }

    &__meta-link {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;

      a, span {
        font-size: 20px;
        line-height: 1.2;
        color: var(--color-beta);
      }

      span {
        margin-right: 15%;
      }

      a {
        text-decoration: underline;
      }

      padding-bottom: 5px;
    }

  }

}



