@import url("zeroing_default_styles.css");
@import url("font_styles.css");
@import url("color_styles.css");

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--color-alpha);
}

.btn-style_alpha,
.btn-style_beta,
.top-menu__link {
  -webkit-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  transition: all 250ms ease;
}

.menu-active,
.top-menu__link:hover {
  color: var(--color-gamma);
}

.top-menu__link:active {
  color: #04ad81;
}


.btn-style_alpha {
  border: solid 2px var(--color-beta);
  background-color: var(--color-omega);

  span {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: normal;
    text-align: center;
    color: var(--color-beta);
  }
}

.btn-style_alpha:hover {
  background-color: #334575;
}

.btn-style_alpha:active {
  background-color: #1f2b4a;
  border: none;
}

.btn-style_beta:hover {
  background-color: #05c694;
  box-shadow: 0 0 40px rgba(0, 0, 0, .2) inset;
}

.btn-style_beta:active {
  background-color: #04ad81;
  box-shadow: inset rgba(0, 0, 0, .6) 0 -3px 8px,
  inset rgba(252, 255, 255, .7) 0 3px 8px,
  rgba(0, 0, 0, .8) 0 3px 8px -3px;

}

.btn-style_beta {
  background-color: var(--color-gamma);
  text-align: center;

  span {
    font-size: 16px;
    font-weight: 700;
    line-height: 3.03;
    color: var(--color-beta);
  }
}

.video {
  width: 100%;
  position: relative;

  &-over {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: none;
  }

  &-play {
    background: var(--color-gamma);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #fff;
    z-index: 1;
    cursor: pointer;
    transition: 0.2s ease;
    transition-property: opacity, visibility;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 50px;
      width: 0;
      height: 0;
      border: 60px solid transparent;
      border-top-width: 35px;
      border-bottom-width: 35px;
      border-left-color: var(--color-beta);
      border-right-width: 0;
      transition: transform 0.2s ease;
    }

    &:hover {
      &::before {
        transform: scale(1.2);
      }
    }
  }

  video {
    width: 100%;
    /* max-height: 528px;*/
    display: block;
  }

  &.video-is-playing {
    .video {
      &-over {
        display: block;
      }

      &-play {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

.submit-message {
  position: absolute;
  background-color: #fcfcfc;
  z-index: 100;
  top: 0;
  bottom: 40px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .message-container {
    text-align: center;

    img {
      max-width: 38px;
    }

    .message-main {
      margin: 15px 0 20px 0;
      font-size: 29px;
      font-weight: bold;
      line-height: 1.72;
      color: var(--color-alpha);
    }

    .message-semi {
      font-size: 16px;
      line-height: 1.31;
      color: var(--color-alpha);
    }
  }
}

.popup-callback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 340px;

  &__main-label {
    font-size: 37.5px;
    font-weight: bold;
    line-height: 2.4;
    color: var(--color-alpha);
  }

  &__input-container {
    text-align: center;
    margin-bottom: 20px;

    p {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.33;
      color: var(--color-alpha);
      margin-bottom: 15px;
    }

    input {
      text-align: center;
      width: 360px;
      padding: 18px 10px;
      border: solid 1px #e0e0e0;
      background-color: #fcfcfc;
    }
  }

  &__input-container:last-of-type {
    margin-bottom: 0;
  }

  &__button {
    width: 252px;
    height: 43px;
    margin: 40px 0 50px 0;
  }

  &__label-meta {
    font-size: 12px;
    line-height: 2;
    text-align: center;
    color: #7b7b7b;
  }
}

.popup-politics {
  max-width: 800px;
  max-height: 500px;

  &__container {
    padding-bottom: 20px;
  }

  &__main-label:first-of-type {
    margin-bottom: 15px;
    margin-top: 0;
  }

  &__main-label {
    margin-top: 15px;
    font-size: 12px;
    font-weight: 700;
  }

  ol {
    padding: 0 0 0 15px;
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }
}

.flex-scroll {
  overflow: scroll;
  overflow-x: hidden;
}

.flex-scroll {
  scrollbar-face-color: #FFFFFF;
  scrollbar-shadow-color: #FFFFFF;
  scrollbar-highlight-color: #FFFFFF;
  scrollbar-3dlight-color: #FFFFFF;
  scrollbar-darkshadow-color: #FFFFFF;
  scrollbar-track-color: #FFFFFF;
  scrollbar-arrow-color: #FFFFFF;
}

.flex-scroll::-webkit-scrollbar {
  width: 15px;
}

.flex-scroll::-webkit-scrollbar-button {
  background: var(--color-psi);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.flex-scroll::-webkit-scrollbar-track-piece {
  background: #c5c5c5;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.flex-scroll::-webkit-scrollbar-thumb {
  background: var(--color-gamma);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.wrapper {
  max-width: 1208px;
}

.header-separator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  .header-background {
    padding: 13px 0 10px 0;
    background-color: rgba(128, 128, 128, 0.28);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-under_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;

    .wrapper .top-menu__item:last-child {
      margin-right: 30px;
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1208px;
    position: relative;

    .top-menu {
      &__list {
        display: flex;
        justify-content: space-between;
      }

      &__item {
        margin-right: 30px;
      }

      &__item:last-child {
        margin-right: 0;
      }

      &__link {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.33;
        text-align: center;
      }
    }

    .top-callback {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__container {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          margin-right: 10px;
        }
      }

      &__phone a {
        font-size: 23px;
        font-weight: 700;
        line-height: 1.3;
        color: var(--color-omega);
      }

      &__btn {
        width: 255px;
        height: 43px;
        margin: 8px 0 0 0;
      }

    }

    .top-logo {
      &__link {
        display: block;
        max-width: 270px;

        img {
          width: 100%;
        }
      }
    }

    .header-section {
      margin-top: 51px;

      &__main-label {
        font-size: 45px;
        font-weight: 700;
        line-height: 1.22;
        color: var(--color-beta);
      }

      &__main-label:last-of-type {
        margin-bottom: 20px;
      }

      &__second-label {

        font-size: 18px;
        line-height: 1.17;
        color: var(--color-alpha);
      }

      &__btn {
        width: 255px;
        height: 43px;
        margin: 76px 0 133px 0;
      }
    }

  }

  .catalog-drop-down {
    z-index: 100;
    background-color: #e1e1e1;
    position: absolute;
    width: 100%;
    left: 0;
    top: 122px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px 30px 0 30px;

    &__row-item {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

    }

    &__item {
      flex: 30% 0 1;
    }

    &__item-link_container {
      display: flex;
      align-items: center;
      min-height: 55px;
      margin-bottom: 22px;
    }

    &__item-link_container a {
      font-size: 20px;
      line-height: 1.2;
      color: var(--color-alpha);
      text-decoration: underline;
    }

    &__all-link_container {
      margin-bottom: 35px;
      display: flex;
      align-items: center;
    }

    &__all-link_container a {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.33;
      color: var(--color-gamma);
      margin-right: 15px;
    }
  }

}

.main-page_header {
  background-image: url("../img/main/header_background.png");
  background-color: var(--color-omega);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-page_capabilities-and-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #fff 76%, #e8e8e8);

  .video {
    margin-top: 32px;
  }

  .main-page_capabilities {
    &__main-label {
      margin: 85px 0 0 0;
      font-size: 60px;
      font-weight: 700;
      line-height: 1.63;
      text-align: center;
      color: var(--color-gamma);
    }

    &__container {
      margin-top: 75px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      margin-bottom: 20px;
      flex: 30% 0 1;
    }

    &__svg-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__named-label {
      margin-top: 20px;
      font-size: 36px;
      font-weight: 800;
      line-height: 1.11;
      text-align: center;
      color: var(--color-alpha);
    }

    &__label-container {
      margin-top: 20px;
      text-align: center;

      span {
        font-size: 22px;
        font-weight: 600;
        line-height: 1.5;
        color: var(--color-alpha);
      }
    }
  }

  .main-page_choice {

    &__main-label {
      margin: 65px 0 0 0;
      font-size: 60px;
      font-weight: 700;
      line-height: 1.63;
      text-align: center;
      color: var(--color-gamma);
    }

    &__container {
      margin-top: 95px;
    }

    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__item {

      flex: 30% 0 1;
      box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.08);
      background-color: var(--color-beta);
      display: flex;
      flex-direction: column;
      min-height: 835px;
    }

    &__img-container {
      margin-top: 80px;
      max-width: 370px;
      width: 370px;
    }

    &__img-container img {
      width: 100%;
      max-height: 270px;
      height: 270px;
    }

    &__options-hover-container {
      margin-top: 44px;
      flex: 1 0 auto;
    }

    &__detail-container {
      margin-bottom: 35px;
      text-align: center;
    }

    &__detail-container:last-of-type {
      margin-bottom: 0px;
    }

    &__detail-name {
      font-size: 18px;
      line-height: 1.11;
      color: var(--color-alpha);
    }

    &__detail-chart {
      font-size: 18px;
      font-weight: 800;
      line-height: 1.58;
      color: var(--color-alpha);
    }

    &__wrapper {
      text-align: center;
      flex: 0 0 auto;
    }

    &__name-container {
      margin-top: 44px;
      text-align: center;
      flex: 1 0 auto;
      padding: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__name-container span {
      font-size: 26.5px;
      font-weight: 700;
      line-height: 1.34;
      text-align: center;
      color: var(--color-alpha);
    }

    &__cost {

      margin: auto 0 0 0;
      font-size: 41.5px;
      font-weight: 700;
      line-height: 0.63;
      text-align: center;
      color: var(--color-gamma);
    }

    &__type-container {
      margin-top: 40px;
    }

    &__type {
      font-size: 27.5px;
      font-weight: normal;
      line-height: 1.76;
      text-align: center;
      color: var(--color-alpha);
      margin-right: 25px;
    }

    &__power {
      font-size: 31px;
      font-weight: 300;
      line-height: 1.56;
      text-align: center;
      color: var(--color-alpha);
      background-color: #d3d3d3;
    }


    &__link {
      display: block;
      width: 253px;
      height: 43px;
      margin: 30px auto 37px auto;
    }

    .main-page__btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

  .main-page__btn-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .main-page__more-items {
      width: 253px;
      height: 43px;
      margin: 42px 0 72px 0;
    }
  }
}

.main-page_deal-callback {
  background-image: url("../img/main/callback_background.png");
  background-color: var(--color-omega);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__description {
    flex: 51% 0 1;
  }

  &__main-label {
    font-size: 58.5px;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    color: #fff000;
  }


  &__second-label-container {
    margin-top: 90px;

    span {
      font-size: 28.5px;
      line-height: 1.19;
      text-align: left;
      color: var(--color-beta);
    }
  }

  &__form {
    flex: 42% 0 1;
    margin-top: 75px;
    position: relative;
  }

  &__form &__item {
    margin-bottom: 20px;
  }

  &__form &__item:last-child {
    margin-bottom: 13px;
  }

  &__item p {
    font-size: 25.5px;
    font-weight: 800;
    line-height: 1.33;
    text-align: left;
    color: var(--color-beta);
  }

  &__item input {
    width: 100%;
    padding: 10px 15px;
    border: solid 2px #c2c2c2;
    background-color: #fcfcfc;
  }

  &__item textarea {
    padding: 10px 15px;
    width: 100%;
    height: 91px;
    border: solid 2px #c2c2c2;
    background-color: #fcfcfc;
    resize: none;
  }

  &__btn-container {
    display: flex;
    justify-content: flex-end;
  }

  &__btn {
    width: 255px;
    height: 43px;
  }

  &__btn-description {
    margin: 7px 0 95px 0;
    text-align: right;

    p {

      font-size: 12px;
      font-weight: 300;
      line-height: 1;
      color: var(--color-beta);
    }
  }
}

.main-page_production {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__main-label {
    margin: 85px 0 80px 0;
    font-size: 60px;
    font-weight: bold;
    line-height: 1.63;
    text-align: center;
    color: var(--color-gamma);
  }

  &__canvas {
    width: 100%;
    max-height: 695px;
    height: 695px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-omega);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__canvas .wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__canvas .wrapper.container-left {
    justify-content: flex-start;
  }

  &__canvas .wrapper.container-right {
    justify-content: flex-end;
    text-align: right;
  }

  &__canvas .wrapper.container-right &__link-container {
    display: flex;
    justify-content: flex-end;
  }

  &__container {
    flex: 73% 0 1;
  }

  #show-item1 {
    background-image: url("../img/main/product1.png");
  }

  #show-item2 {
    background-image: url("../img/main/product2.png");
  }

  #show-item3 {
    background-image: url("../img/main/product3.png");
  }

  #show-item4 {
    background-image: url("../img/main/product4.png");
  }


  &__item-label {
    font-size: 55px;
    font-weight: bold;
    line-height: 1.27;
    color: var(--color-beta);
  }

  &__item-border {
    width: 100%;
    height: 5px;
    background-color: var(--color-beta);
    margin: 30px 0;
  }

  &__item-description {
    margin-bottom: 25px;

    span {
      font-size: 29px;
      font-weight: 600;
      line-height: 1.21;
      color: var(--color-beta);
    }

  }

  &__link {
    width: 256px;
    height: 43px;
    display: block;
  }


}

.main-page_news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;

  .main-page_news__main-label {
    margin: 76px 0 90px 0;
    font-size: 60px;
    font-weight: bold;
    line-height: 1.63;
    color: var(--color-gamma);
  }


  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__container {
    flex: 31% 0 1;
    overflow: hidden;
    background-color: var(--color-omega);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  &__link_news {
    display: block;
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  #news1 {
    background-image: url("../img/main/news1.png");
  }

  #news2 {
    background-image: url("../img/main/news2.png");
  }

  #news3 {
    background-image: url("../img/main/news3.png");
  }

  &__container:before {
    content: "";
    padding-top: 100%;
    float: left;
  }

  &__label-container {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 30%;
    padding: 0 13%;
    text-align: center;

    span {
      font-size: 18.5px;
      font-weight: 800;
      line-height: 1.43;
      color: var(--color-beta);
    }
  }

  &__description-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0 10px;

    span {
      font-size: 15.5px;
      font-weight: bold;
      line-height: 2.23;
      color: var(--color-beta);
    }

    img {
      max-width: 144px;
      max-height: 30px;
      width: 144px;
      height: 30px;
    }
  }

}

.footer {
  background-image: url("../img/main/footer_background.png");
  background-color: var(--color-omega);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;


  .bottom-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .footer-bold {
      font-size: 28px;
      font-weight: bold;
      color: var(--color-beta);
    }

    &__call-container {
      flex: 30% 0 1;
      margin: 35px 0 0 0;

      a {
        font-size: 28px;
        line-height: 1.41;
        text-align: left;
        color: var(--color-beta);
      }
    }


    &__adress-container {
      flex: 30% 0 1;
      margin: 35px auto 0 auto;
      text-align: center;
    }

    &__mini-label {
      font-size: 24.5px;
      line-height: 1.47;
      text-align: center;
      color: var(--color-beta);
    }

    &__soc_link-container {
      margin: 35px 0 0 0;
      flex: 30% 0 1;

      div {
        text-align: center;
      }
    }

    &__soc_link-container div:first-of-type {
      margin-bottom: 15px;
    }

    &__soc_link {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__soc_link a {
      margin-right: 45px;
    }

    &__soc_link a:last-of-type {
      margin-right: 0;
    }

    &__meta-info {
      text-align: center;

      p {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      svg {
        margin: 0 5px;
      }

      p, a {
        font-size: 20px;
        line-height: 1.2;
        color: var(--color-beta);
      }

      a {
        text-decoration: underline;
      }
    }

    &__meta-link {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;

      a, span {
        font-size: 20px;
        line-height: 1.2;
        color: var(--color-beta);
      }

      span {
        margin-right: 15%;
      }

      a {
        text-decoration: underline;
      }

      padding-bottom: 5px;
    }

  }

}



